<header>
  <h1>Cartoon Pedia</h1>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/characters">Characters</a></li>
      <li><a href="/episodes">Episodes</a></li>
    </ul>
  </nav>
</header>
