<%- include('../partials/header') %>

    <h1>
      <%= title %>
    </h1>
    <ul>
      <% characters.forEach(function(character) { %>
        <li>
          <a href="/characters/<%= character._id %>">
            <%= character.name %>
          </a>
        </li>
        <% }); %>
    </ul>
